# maven ignore
target/

/src/test

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# visual-studio-code ignore
.vscode/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig

# license check result
license-list
/target/
/target/
/.idea/
